.foodItem-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  .food-display {
    font-family: "Atma", cursive;
    transition: 0.2s ease-in-out;

    .price-tag {
      color: #a3f7b5;
      text-shadow: 1px 1px 1px black;
    }

    &:hover {
      color: #edf094;
      text-shadow: 2px 2px 2px black;
    }
  }
  .clicked {
    color: #edf094;
    text-shadow: 2px 2px 2px black;
  }
}
