html, body {
    padding: 0;
    margin: 0;
    font-family: 'montserrat';
}
.app {
    display: flex;
    flex-direction: column;
    height: 100%vh;
}
.all-menus {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.total-price {
    text-align: center;
}
@import './menu.scss';
@import './foodItem.scss';