@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes lightbulb {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.3;
  }
  46% {
    opacity: 1;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation-name: animateIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  width: 15%;
  background: #1a604c;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px #f3f5b8;

  .menu-title {
    font-size: 35px;
    margin-bottom: 15px;
    font-family: "Codystar", cursive;
    text-shadow: 0 0 0 transparent, 0 0 2px #e3cd64, 0 0 4px #f3f5b8,
      0 0 8px #e3cd64, 0 0 10px #e3cd64;
    animation: lightbulb 3s infinite alternate;
  }
}
